

    <div class="dish-image-container">
        <h1>About Us</h1>
        <img src="https://images.pexels.com/photos/5949001/pexels-photo-5949001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Dish Image">
    </div>



<div class="about-container">
    <p>Explore topics that captivate and inspire your curiosity daily.</p>
</div>

<div class="content1-container">

    <div class="img2-container">
    <img src="https://images.pexels.com/photos/8859022/pexels-photo-8859022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="hidden-image"></div>
</div>

  <div class="info1-container">
    <h2>GROW UP WITH YOUR WORKFLOW SPEED</h2>
    <ul>
        <li>DishDiscovery is a clean, modern, mobile-ready food website theme for agriculture</li>
        <li>Start your online presence in a snap with three included demos</li>
        <li>Enhance the web design until it matches your rules and regulations</li>
        <li>Agro does not require coding knowledge for customization</li>
        <li>Coupled with WPBakery drag and drop page builder</li>
        <li>Agro does not require coding knowledge for customization</li>
        <li>Coupled with WPBakery drag and drop page builder</li>
      </ul>
  </div>

</div>


<div class="content2-container">

   

    <div class="info2-container">
        <h2>Our Goal</h2>
        <ul>
          <li>DishDiscovery is a clean, modern, mobile-ready food website theme for agriculture</li>
          <li>Start your online presence in a snap with three included demos</li>
          <li>Enhance the web design until it matches your rules and regulations</li>
          <li>Agro does not require coding knowledge for customization</li>
          <li>Coupled with WPBakery drag and drop page builder</li>
          <li>Agro does not require coding knowledge for customization</li>
          <li>Coupled with WPBakery drag and drop page builder</li>
        </ul>
      </div>

  <div class="img3-container">
    <img src="https://images.pexels.com/photos/5986316/pexels-photo-5986316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
</div>

</div>

<div class="members-container">
    <p>Our Members</p>
    </div>


    <div class="founder-container">
    <div class="founder">
        <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <p>Vivek</p>
    </div>

    <div class="founder">
        <img src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <p>Shraddha</p>
    </div>

    <div class="founder">
        <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <p>Vinayak</p>
    </div>

    <div class="founder">
        <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <p>Prathamesh</p>
    </div>
    </div>



<!-- <div class="copyright">
    Explore topics that captivate and inspire your curiosity daily.
</div> -->
