<mat-toolbar class=" nav mat-elevation-z6">
    <span><mat-icon>restaurant</mat-icon> DishDiscovery</span>
    <div class="spacer"></div>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a>

    <a routerLink="create" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Create Blog</a>
    <!-- <a mat-button routerLink="connect" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Connect</a> -->
    <a routerLink="search" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Search</a>
    <a routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>About Us</a>
    <a mat-raised-button class="nav-button" routerLink="signup" routerLinkActive="active"
        [routerLinkActiveOptions]={exact:true}>SignUp</a>
</mat-toolbar>