<div class="maincontainer">
  <div class="container">
    <form (submit)="createRecipe()" #recipeForm="ngForm">
      <h1>Post a Recipe</h1>
      <div class="form-group">
        <label for="recipeTitle">Recipe Title</label>
        <input type="text" class="recipetct" id="recipeTitle" name="recipeTitle"
          placeholder="Enter Title For Your Recipe" [(ngModel)]="recipe.recipeTitle" required />
        <div *ngIf="recipeForm.controls['recipeTitle']?.invalid && recipeForm.controls['recipeTitle']?.touched"
          class="error-message">
          Recipe Title is required
        </div>
      </div>
      <div class="form-group">
        <label for="recipeDescription">Recipe Description</label>
        <textarea class="recipe-DIM" id="recipeDescription" placeholder="Enter Detailed Description"
          name="recipeDescription" [(ngModel)]="recipe.recipeDesc" required></textarea>
        <div
          *ngIf="recipeForm.controls['recipeDescription']?.invalid && recipeForm.controls['recipeDescription']?.touched"
          class="error-message">
          Recipe Description is required
        </div>
      </div>
      <div class="form-group">
        <label for="recipeIngredients">Recipe Ingredients</label>
        <textarea class="recipe-DIM" id="recipeIngredients" placeholder="Enlist the Ingredients"
          name="recipeIngredients" [(ngModel)]="recipe.recipeIngridents" required></textarea>
        <div
          *ngIf="recipeForm.controls['recipeIngredients']?.invalid && recipeForm.controls['recipeIngredients']?.touched"
          class="error-message">
          Recipe Ingredients is required
        </div>
      </div>
      <div class="form-group">
        <label for="recipeMethod">Recipe Method</label>
        <textarea class="recipe-DIM" id="recipeMethod" placeholder="Enter the Methodology" name="recipeMethod"
          [(ngModel)]="recipe.recipeMethod" required></textarea>
        <div *ngIf="recipeForm.controls['recipeMethod']?.invalid && recipeForm.controls['recipeMethod']?.touched"
          class="error-message">
          Recipe Method is required
        </div>
      </div>
      <div class="input-group">
        <div class="form-group">
          <label for="cookingTime">Cooking time</label>
          <input class="recipetct" type="text" id="cookingTime" placeholder="What's the Cooking Time" name="cookingTime"
            [(ngModel)]="recipe.recipeCookingTime" required />
          <div *ngIf="recipeForm.controls['cookingTime']?.invalid && recipeForm.controls['cookingTime']?.touched"
            class="error-message">
            Cooking Time is required
          </div>
        </div>
        <div class="form-group">
          <label for="imageInput">Upload Picture</label>
          <input (change)="onFileSelected($event)" type="file" accept="image/jpeg" id="imageInput" name="imageInput"
            required />
          <div *ngIf="recipeForm.controls['imageInput']?.invalid && recipeForm.controls['imageInput']?.touched"
            class="error-message">
            Upload Picture is required
          </div>
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
          <input class="recipetct" type="text" id="tags" placeholder="Enter tags for your recipe" name="tags"
            [(ngModel)]="rawTags" required />
          <div *ngIf="recipeForm.controls['tags']?.invalid && recipeForm.controls['tags']?.touched"
            class="error-message">
            Tags is required
          </div>
        </div>
      </div>
      <!-- <button type="submit" id="publish" [disabled]="!recipeForm.form.valid">Publish</button> -->
      <button type="submit" id="publish" [disabled]="!recipeForm.form.valid">
        <div *ngIf="isLoading; else publishText"><app-loader2></app-loader2></div>
        <ng-template #publishText>Publish</ng-template>
      </button>
    </form>
  </div>

  <div class="side-content">
    <p id="see">See how others have posted</p>
    <div class="all-blog-container" *ngFor="let recipe of recipes.slice(0, 4)">
      <div class="recipe-image-container">
        <img (click)="goToPage('show-blog', recipe.id)" class="recipe-image" [src]="recipe.recipeImageUrl"
          alt="imageOfRecipe" />
      </div>
      <div class="recipe-details">
        <h2>{{ recipe.recipeTitle }}</h2>
      </div>
    </div>
  </div>
</div>